In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,217,Aksarka,66.56,67.80,0.27,94,91,4.32,RU,11/9/2019 18:32
1,263,Srednekolymsk,67.46,153.71,1.38,95,100,9.40,RU,11/9/2019 18:23
2,34,Dikson,73.51,80.55,1.63,96,77,5.59,RU,11/9/2019 18:22
3,164,Labytnangi,66.66,66.39,1.78,92,98,5.37,RU,11/9/2019 18:27
4,177,Magdagachi,53.45,125.80,2.53,95,68,4.41,RU,11/9/2019 18:32

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
367,133,Lampang,18.29,99.49,75.00,99,99,0.27,TH,11/9/2019 18:32
368,240,Batticaloa,7.71,81.69,75.07,92,100,0.74,LK,11/9/2019 18:32
369,158,Viedma,-40.81,-62.99,75.11,17,13,11.21,AR,11/9/2019 18:23
370,91,Kota Kinabalu,5.98,116.07,75.20,88,75,4.70,MY,11/9/2019 18:31
371,314,Gizo,31.80,34.94,75.20,64,0,1.12,IL,11/9/2019 18:22
372,487,Bitung,1.44,125.19,75.20,88,40,2.24,ID,11/9/2019 18:28
373,157,Port Moresby,-9.47,147.16,75.51,90,100,7.63,PG,11/9/2019 18:32
374,454,Namibe,-15.19,12.15,75.79,76,0,16.71,AO,11/9/2019 18:23
375,192,Sola,-3.17,33.80,75.83,56,74,7.40,TZ,11/9/2019 18:23
376,9,Carnarvon,-30.97,22.13,75.94,17,100,16.62,ZA,11/9/2019 18:22

In [10]:
preferred_cities_df.count()

City_ID       119
City          119
Lat           119
Lng           119
Max Temp      119
Humidity      119
Cloudiness    119
Wind Speed    119
Country       119
Date          119
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
367        Lampang      TH     75.00  18.29   99.49
368     Batticaloa      LK     75.07   7.71   81.69
369         Viedma      AR     75.11 -40.81  -62.99
370  Kota Kinabalu      MY     75.20   5.98  116.07
371           Gizo      IL     75.20  31.80   34.94
372         Bitung      ID     75.20   1.44  125.19
373   Port Moresby      PG     75.51  -9.47  147.16
374         Namibe      AO     75.79 -15.19   12.15
375           Sola      TZ     75.83  -3.17   33.80
376      Carnarvon      ZA     75.94 -30.97   22.13

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
367,Lampang,TH,75.00,18.29,99.49,キムシティ ホテル
368,Batticaloa,LK,75.07,7.71,81.69,Treatooo City Hotel Batticaloa
369,Viedma,AR,75.11,-40.81,-62.99,Hotel casa crespo
370,Kota Kinabalu,MY,75.20,5.98,116.07,Gaya Centre Hotel
371,Gizo,IL,75.20,31.80,34.94,בקתות לשקיעה
372,Bitung,ID,75.20,1.44,125.19,K2 Lembeh
373,Port Moresby,PG,75.51,-9.47,147.16,Lamana Hotel
374,Namibe,AO,75.79,-15.19,12.15,Chik-Chik Namibe
375,Sola,TZ,75.83,-3.17,33.80,Peace Hotel
376,Carnarvon,ZA,75.94,-30.97,22.13,Meerkat Manor
377,Marawi,PH,75.99,8.00,124.29,Derogongan Residence
378,Russell,US,75.99,38.90,-98.86,Quality Inn
379,Hays,US,75.99,38.88,-99.33,Holiday Inn Express & Suites Hays
380,Remedios,CO,76.57,7.03,-74.70,Hotel Tayrona
381,Wala,CM,76.78,4.58,12.32,
382,Kahului,US,77.00,20.89,-156.47,Maui Seaside Hotel
383,Bathsheba,BB,77.00,13.22,-59.52,Atlantis Hotel
384,Sakaraha,MG,77.43,-22.91,44.53,Le Relais
385,Roebourne,AU,77.63,-20.77,117.15,Harding River Caravan Park
386,La Palma,CO,77.67,5.36,-74.39,Balcones De Santa Luchia

In [34]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [39]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))